body {
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smothing: grayscale;
  font-family: 'PT Sans', serif;
  width: 100%;
  background-color: #345612;
  color: #fff;
}

h3 {
  font-size: 14px;
}

.sas {
  color: #ccc;
}

#svetred {
  color: red;
}

.ima {
height: 200px; 
}
